<main role="main" class="container">

  <div class="starter-template">
    <h1><%= @character.name %></h1>
    <ul class="list-unstyled">
      <li class="lead"><strong>Race:</strong> <%= @character.race %></li>
      <li class="lead"><strong>Class:</strong> <%= @character.character_class %></li>
      <li class="lead"><strong>Level:</strong> <%= @character.level %></li>
    </ul>
    
  </div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>